@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ::::::::::::::::::::::::::after
Active link color
:::::::::::::::::::::::::::::::::*/
.active  {
  background-image: linear-gradient(to right, #9b4df473, #ffffffb5)!important;
  color: #7d23e0!important;
  font-weight: 700!important;

}
/* .active > *  {
  color: #7d23e0!important;
  font-weight: 700!important;
} */
